/*重置样式表*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
	color: black;
}
.inner{
	width: 1220px;
	margin: 0 auto;
}
 .hui{
	font-size: 13px;
	color: #acb7d4;
}
 .red{
	font-size: 14px;
	color: #cc0e11;
}
h3{
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 23px;
}